header {

    display: grid;
    text-align: center;
    margin: 20px 0;

    & h1 {
        font-size: 3.125rem;
    }

    & p {
        font-size: 1.5625rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}